{% extends 'a_leña\index.html' %}

{% block conted %}

<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1>Sobre nosotros</h1>
          <section>
              <p>Te damos la bienvenida a nuestro restaurante, nos especilizamos en cocinar los alimentos
                 en leña. usamos la mejor madera especialmente la leña de guayaba ya que esta es famosa por 
                 dar un sabor unico y especial a la comina !ven y vive la experiencia de comer a leña sabe mejor
              </p>
          </section>
          <section>
              <h1>Mision</h1>
              <p>
                Satisfacer el gusto y preferencia de nuestros clientes, 
                ofreciendo alimentos típicos nutritivos de calidad, variedad y cómodos precios 
                a través de un excelente y ágil servicio.
              </p>
              <h1>vision</h1>
              <p>Ser el mejor restaurante de comida cocina a leña del pais 
                y posicionarnos en el mercado nacional con la comida 
                más saludable y nutritiva de la zona, aumentando 
                con ello la preferencia de nuestros clientes para alcanzar
                una mayor ventaja competitiva.</p>

                <h1>valores</h1>
                <p>
                    > Respeto 
                    > Cortesía
                    > Honestidad
                    > Solidaridad
                </p>

          </section>
         <p></p>
      </div>
    </div>
  </div> 

{%endblock%}